[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-crispy-forms = "*"
django-formtools = "*"
"psycopg2-binary" = "*"
"jinja2" = "*"
docxtpl = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.6"
