Django==2.0.5
django-crispy-forms==1.7.2
django-formtools==2.1
docxtpl==0.4.10
Jinja2==2.10
lxml==4.2.1
MarkupSafe==1.0
psycopg2-binary==2.7.4
python-docx==0.8.6
python-dotenv==0.8.2
pytz==2018.4
six==1.11.0
