{% extends "common_root.html" %}

{% block content %}

<div class="page-center" style="height: 576px;">
        <div class="page-center-in">
            <div class="container-fluid">
                <form action="/form/login" method="post" class="sign-box">
                    {% csrf_token %}
                    <div class="sign-avatar">
                        <img src="http://lorempicsum.com/rio/200/200/1" alt="">
                    </div>
                    <header class="sign-title">Sign In</header>
                    <div class="form-group">
                      {{login_form.username}}
                    </div>
                    <div class="form-group">
                      {{login_form.password}}
                    </div>
                    <div class="form-group">
                        <div class="checkbox float-left">
                            <input type="checkbox" id="signed-in">
                            <label for="signed-in">Rester connecté</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-rounded">Sign in</button>
                    <p class="sign-note"><a href="#">Mot de passe oublié</a></p>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
