{% extends "common_root.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="text-center">
        <h1 class="text-uppercase">Consult<p class="text-primary" style="display:inline">Panel</p></h2><h1><small>Gérez vos formations partout, tout le temps</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <section class="widget widget-simple-sm">
            <div class="widget-simple-sm-icon">
                <i class="glyphicon glyphicon-time color-purple"></i>
            </div>
            <div class="widget-simple-sm-bottom">Gagnez du Temps</div>
        </section><!--.widget-simple-sm-->
    </div>
    <div class="col-xs-4">
        <section class="widget widget-simple-sm">
            <div class="widget-simple-sm-icon">
                <i class="glyphicon glyphicon-scale color-blue"></i>
            </div>
            <div class="widget-simple-sm-bottom">Gagnez en Productivité</div>
        </section><!--.widget-simple-sm-->
    </div>
    <i class="glyphicon glyphicon-equals color-blue"></i>
    <div class="col-xs-4">
        <section class="widget widget-simple-sm">
            <div class="widget-simple-sm-icon">
                <i class="glyphicon glyphicon-euro color-green"></i>
            </div>
            <div class="widget-simple-sm-bottom">Gagnez de l'Argent</div>
        </section><!--.widget-simple-sm-->
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <input type="text" class="form-control" placeholder="Entrez votre e-mail">
            <div class="btn input-group-addon">
                Envoyer
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
