option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: consult_panel.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: consult_panel/wsgi.py


container_commands:
  04_pip_upgrade:
    command: "pip install --upgrade pip"
  10_pip_install:
    command: "pip install -r requirements.txt"
  15_migrate:
    command: "python manage.py migrate"
  20_collectstatic:
    command: "python manage.py collectstatic --noinput"
  40_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  50_wsgiappgroup:
    command: 'echo "WSGIApplicationGroup %{GLOBAL}" >> ../wsgi.conf'
