packages:
  yum:
    gcc: []
    git: []
    gcc-c++: []

    fontconfig: []
    libXrender: []
    libXext: []
    xorg-x11-fonts-Type1: []
    xorg-x11-fonts-75dpi: []
    freetype: []
    libpng: []
    zlib: []
    libjpeg-turbo: []

    python34-devel: []
    postgresql95-devel: []
    libjpeg-turbo-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: consult_panel.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: consult_panel/wsgi.py

files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https' || %{HTTP_HOST} == 'consultpanel.info'">
              RewriteRule (.*) https://consultpanel.fr%{REQUEST_URI} [R,L]
            </If>

container_commands:
  01_wkhtmltopdf_repo:
    command: "wget https://download.fedoraproject.org/pub/fedora/linux/updates/27/SRPMS/Packages/w/wkhtmltopdf-0.12.4-1.fc27.src.rpm"
  02_wkhtmltopdf_install:
    command: "rpm -Uvh wkhtmltopdf-0.12.4-1.fc27.src.rpm"
  04_pip_upgrade:
    command: "pip install --upgrade pip"
  10_pip_install:
    command: "pip install -r requirements.txt"
  15_migrate:
    command: "python manage.py migrate"
  20_collectstatic:
    command: "python manage.py collectstatic --noinput"
  40_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  50_wsgiappgroup:
    command: 'echo "WSGIApplicationGroup %{GLOBAL}" >> ../wsgi.conf'
