packages:
  yum:
    gcc: []
    git: []
    gcc-c++: []
    python34-devel: []
    libjpeg-turbo-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: consult_panel.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: consult_panel/wsgi.py