{% extends "admin_root.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <article class="statistic-box red">
                    <div>
                        <div class="number">{{datas.head.sessions}}</div>
                        <div class="caption"><div>Session{% if datas.head.sessions > 1%}s{%endif%} à venir</div></div>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <article class="statistic-box green">
                    <div>
                        <div class="number">{{datas.head.inscrits}}</div>
                        <div class="caption"><div>Inscrit{% if datas.head.inscrits > 1%}s{%endif%}</div></div>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <article class="statistic-box purple">
                    <div>
                        <div class="number">{{datas.head.formations}}</div>
                        <div class="caption"><div>Formation{% if datas.head.formations > 1%}s{%endif%}</div></div>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <article class="statistic-box yellow">
                    <div>
                        <div class="number">{{datas.head.clients}}</div>
                        <div class="caption"><div>Client{% if datas.head.clients > 1%}s{%endif%}</div></div>
                    </div>
                </article>
            </div>
        </div>

        <div class="row">
            <div class="box-typical">
                <div class="calendar-page">
                    <div class="calendar-page-content">
                        <div class="calendar-page-title">Calendrier</div>
                        <div class="calendar-page-content-in">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">

        $(document).ready(function(){

            /* ==========================================================================
             Fullcalendar
             ========================================================================== */

            $('#calendar').fullCalendar({
                timezone: 'local',
                lang: 'fr',
                header: {
                    left: '',
                    center: 'prev, title, next',
                    right: 'today agendaDay, agendaTwoDay, agendaWeek, month'
                },
                buttonIcons: {
                    prev: 'font-icon font-icon-arrow-left',
                    next: 'font-icon font-icon-arrow-right',
                    prevYear: 'font-icon font-icon-arrow-left',
                    nextYear: 'font-icon font-icon-arrow-right'
                },
                defaultDate: '{{datas.calendar_date}}',
                editable: false,
                selectable: true,
                eventLimit: true,
                events: JSON.parse('{{datas.calendar_content|safe}}'),
                viewRender: function(view, element) {
                    if (!("ontouchstart" in document.documentElement)) {
                        $('.fc-scroller').jScrollPane({
                            autoReinitialise: true,
                            autoReinitialiseDelay: 100
                        });
                    }

                    $('.fc-popover.click').remove();
                },
                eventClick: function(calEvent, jsEvent, view) {

                    var eventEl = $(this);

                    // Add and remove event border class
                    if (!$(this).hasClass('event-clicked')) {
                        $('.fc-event').removeClass('event-clicked');

                        $(this).addClass('event-clicked');
                    }

                    var start = moment(calEvent.start);
                    var end = moment(calEvent.end);
                    var duration = moment.duration(end.diff(start)).asHours();
                    var durationFormated = duration + ' heure' + ((duration > 1) ? 's' : '');

                    var sessionURL = "{% url 'sessions_detail' session_id=1234 %}".replace(/1234/, calEvent.sessionId);

                    // Add popover
                    $('body').append(
                        '<div class="fc-popover click">' +
                            '<div class="fc-header">' +
                                calEvent.title +
                                '<button type="button" class="cl"><i class="font-icon-close-2"></i></button>' +
                            '</div>' +

                            '<div class="fc-body main-screen">' +
                                '<ul class="m-b-md">' +
                                    '<li><strong>Durée: </strong>' + durationFormated + '</li>'+
                                    '<li><strong>Centre: </strong>' + calEvent.location + '</li>'+
                                '</ul>' +
                                '<ul class="actions">' +
                                    '<li><a href="' + sessionURL + '" target="_blanck">Voir la Session</a></li>' +
                                '</ul>' +
                            '</div>' +
                        '</div>'
                    );

                    // Position popover
                    function posPopover(){
                        $('.fc-popover.click').css({
                            left: eventEl.offset().left + eventEl.outerWidth()/2,
                            top: eventEl.offset().top + eventEl.outerHeight()
                        });
                    }

                    posPopover();

                    $('.fc-scroller, .calendar-page-content, body').scroll(function(){
                        posPopover();
                    });

                    $(window).resize(function(){
                        posPopover();
                    });

                    // Close buttons
                    $('.fc-popover.click .cl').click(function(){
                        $('.fc-popover.click').remove();
                    });

                    // Remove old popover
                    if ($('.fc-popover.click').length > 1) {
                        for (var i = 0; i < ($('.fc-popover.click').length - 1); i++) {
                            $('.fc-popover.click').eq(i).remove();
                        }
                    }

                }
            });

            /* ==========================================================================
             Calendar page grid
             ========================================================================== */

            (function($, viewport){
                $(document).ready(function() {

                    if(viewport.is('>=lg')) {
                        $('.calendar-page-content, .calendar-page-side').matchHeight();
                    }

                    // Execute code each time window size changes
                    $(window).resize(
                        viewport.changed(function() {
                            if(viewport.is('<lg')) {
                                $('.calendar-page-content, .calendar-page-side').matchHeight({ remove: true });
                            }
                        })
                    );
                });
            })(jQuery, ResponsiveBootstrapToolkit);

        });

    </script>

{% endblock %}
