<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title|default:"Admin Panel" }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div id="menu" class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'common_index' %}">Brand</a>
                    </div>
                    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                            <li class="nav">
                                <a href="{% url 'profile_index' %}">{{ request.user.first_name |  default_if_none:request.user.username}}</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
                    <div id="sidebar" class="well sidebar-nav">
                        <li class="active"><a href="{% url 'admin_index' %}">Tableau de bord</a></li>
                        <h5><i class="glyphicon glyphicon-home"></i>
                            <small><b>GESTION</b></small>
                        </h5>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="{% url 'sessions_index' %}">Gérer les sessions</a></li>
                            <li><a href="#">Gérer les catalogues</a></li>
                            <li><a href="{% url 'formations_index' %}">Gérer les formations</a></li>
                        </ul>
                        <h5><i class="glyphicon glyphicon-user"></i>
                            <small><b>COMPTABILITE</b></small>
                        </h5>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Manipuler des données</a></li>
                            <li><a href="#">Consulter les archives</a></li>
                        </ul>
                        <h5><i class="glyphicon glyphicon-user"></i>
                            <small><b>DOCUMENTS</b></small>
                        </h5>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Générer des documents</a></li>
                            <li><a href="#">Modifier des documents</a></li>
                        </ul>
                    </div>
                </div>
                <div id="content" class="col-md-9">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags | default_if_none:'success' }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>
