{% extends "admin_root.html" %} {% block content %} {% for session in sessions_list %}
<div class="col-sm-3">
    <div class="card">
        <img class="card-img-top" data-src="..." alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}