{% extends "admin_root.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="box-typical box-typical-padding">
        <form action="/consult/form/catalogues_edit" method="post">
            <input type="hidden" name="catalogue_id" value="{{form.instance.id}}"/>
            {% crispy form %}  
        </form>
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('#div_id_liste_formations').addClass('row')
    })
</script>
{% endblock %}