{% extends "admin_root.html" %}

{% block content %}

<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 10px; border-color: lightgray; border-style: solid; border-width: 1px; border-radius: 3px">
            <div class="btn-group">
                <h3>Actions</h3>
                <a href="{% url 'formations_add' %}">Ajouter une formation</a>
            </div>
        </div>
    </div>
    
    <div id="form_container" class="row">
        {% for formation in formation_list %}
        <div id="box_{{formation.id}}" class="col-sm-4" style="min-height:200px;">
            <div class="card card-block" style="padding: 10px; margin-bottom: 30px; border-color: lightgray; border-style: solid; border-width: 1px; border-radius: 3px">
                <h3 class="card-title">{{ formation.name }}</h3>
                <p class="card-text">{{ formation.description }}</p>
                <a href="{% url 'formations_edit' id=formation.id %}" class="btn btn-info">Modifier</a>
                <button id="{{formation.id}}" class="btn btn-danger btn-delete">Supprimier</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $(".btn-delete").click(function(){
            var url = "http://localhost:8000/ajax/formations/delete/" + event.target.id
            $.ajax({
                type: "GET", //rest Type
                dataType: 'html', //mispelled
                url: url,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    var json = JSON.parse(msg);
                    if(json['status'] === "OK") {
                        document.getElementById('box_'+json['id']).parentNode.removeChild(document.getElementById('box_'+json['id']));
                    } else {
                        alert("Une erreur est survenue, la formation n'a pas été supprimée");
                    }
                },
                error : function(var1, var2, var3) {
                    alert("Une erreur est survenue, la formation n'a pas été supprimée");
                }
            });
        });
    });
</script>
{% endblock %}
