{% load staticfiles %}
<script src="{% static 'main/js/plugins.js' %}"></script>
<script src="{% static 'main/js/consult-panel.js' %}"></script>
<script src="{% static 'main/js/app.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116398966-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116398966-1');
</script>