{% extends "admin_root.html" %}

{% block content %}


<section class="box-typical box-typical-max-screen">
    <header class="box-typical-header">
        <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
                <h3>{{catalogue.liste_formations.count}} formation{% if catalogue.liste_formations.count > 1%}s{%endif%}</h3>
            </div>
        </div>
    </header>
    <div class="box-typical-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for formation in catalogue.liste_formations.all %}
                    <tr>
                        <td class="table-check">
                            <div class="checkbox checkbox-only">
                                <input type="checkbox" id="tbl-check-2-1">
                                <label for="tbl-check-2-1"></label>
                            </div>
                        </td>
                        <td>
                            {{ formation }}
                        </td>
                        <td>
                            <a
                                href={% url 'formations_detail' formation.id %}
                                type="button"
                                class="btn btn-sm btn-rounded btn-primary"
                            >
                                Détails
                            </a>
                            <a
                                href={% url 'formations_edit' formation.id %}
                                type="button"
                                class="btn btn-sm btn-rounded btn-info"
                            >
                                Modifier
                            </a>
                            <a
                                href="{% url 'catalogues_remove_formation' catalogue.id formation.id %}"
                                type="button"
                                class="btn btn-sm btn-rounded btn-secondary-outline"
                            >
                                Retirer du Catalogue
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}