{% load staticfiles %}

<nav class="side-menu">
    <ul class="side-menu-list">
        <li class="purple">
            <a href="{% url 'admin_index' %}">
                <i class="font-icon font-icon-dashboard"></i>
                <span class="lbl">Accueil</span>
            </a>
        </li>
        {% comment "Assistance" %}
        <li class="gold">
            <a href="{% url 'admin_index' %}">
                <i class="font-icon glyphicon glyphicon-phone"></i>
                <span class="lbl">Assistance</span>
            </a>
        </li>
        {% endcomment %}
    </ul>
    <header class="side-menu-title">Gestion</header>
    <ul class="side-menu-list">
        <li class="blue">
            <a href="{% url 'formations_index' %}" class="label-right">
                <i class="font-icon glyphicon glyphicon-blackboard"></i>
                <span class="lbl">Formations</span>
                <span class="label label-custom label-pill" id="badge-formations">0</span>
            </a>
        </li>
        <li class="blue">
            <a href="{% url 'catalogues_index' %}" class="label-right">
                <i class="font-icon font-icon-widget"></i>
                <span class="lbl">Catalogues</span>
                <span class="label label-custom label-pill" id="badge-catalogues">0</span>
            </a>
        </li>
        <li class="blue">
            <a href="{% url 'sessions_index' %}" class="label-right">
                <i class="font-icon font-icon-calend"></i>
                <span class="lbl">Sessions</span>
                <span class="label label-custom label-pill" id="badge-sessions">0</span>
            </a>
        </li>
        <li class="blue">
            <a href="{% url 'localisations_index' %}" class="label-right">
                <i class="font-icon font-icon-home"></i>
                <span class="lbl">Centres</span>
                <span class="label label-custom label-pill" id="badge-centres">0</span>
            </a>
        </li>
    </ul>
    <header class="side-menu-title">Relations</header>
    <ul class="side-menu-list">
        <li class="blue">
            <a href="{% url 'entreprises_index' %}" class="label-right">
                <i class="font-icon font-icon-case-2"></i>
                <span class="lbl">Entreprises</span>
                <span class="label label-custom label-pill" id="badge-entreprises">0</span>
            </a>
        </li>
        <li class="blue">
            <a href="{% url 'clients_index' %}" class="label-right">
                <i class="font-icon glyphicon glyphicon-heart"></i>
                <span class="lbl">Clients</span>
                <span class="label label-custom label-pill" id="badge-clients">0</span>
            </a>
        </li>
    </ul>
    <header class="side-menu-title">Utilisateurs</header>
    <ul class="side-menu-list">
        <li class="blue">
            <a href="{% url 'profil_index' %}">
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Mon profil</span>
            </a>
        </li>
    </ul>
</nav><!--.side-menu-->

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $.getJSON('/ajax/entities/count').done(function(data) {
                $.each(data, function(index, value) {
                    $('#badge-' + index).text(value)
                    $('#badge-' + index).addClass('label-' + (value > 0 ? 'success' : 'danger'))
                })
            })
        });
    </script>
{% endblock %}
