{% load staticfiles %}
<script src="{% static 'main/js/plugins.js' %}"></script>
<script src="{% static 'main/js/consult-panel.js' %}"></script>
<script src="{% static 'main/js/app.js' %}"></script>

{# Global site tag (gtag.js) - Google Analytics #}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116398966-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116398966-1');
</script>

{# Crisp #}
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="2e93e6a7-192a-415d-b6fd-b4efb3c1b8cd";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
