{% extends "admin_root.html" %}

{% block content %}

    <section class="tabs-section">
        <div class="tabs-section-nav tabs-section-nav-icons">
            <div class="tbl">
                <ul class="nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'docs' or active_tab == None %}active{%endif%}" href="#tabs-1-tab-1" role="tab" data-toggle="tab">
                            <span class="nav-link-in">
                                <i class="font-icon glyphicon glyphicon-duplicate"></i>
                                Documents
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'add' %}active{%endif%}" href="#tabs-1-tab-2" role="tab" data-toggle="tab">
                            <span class="nav-link-in">
                                <span class="glyphicon glyphicon-music"></span>
                                Ajouter des documents
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'test' %}active{%endif%}" href="#tabs-1-tab-3" role="tab" data-toggle="tab">
                            <span class="nav-link-in">
                                <span class="glyphicon glyphicon-music"></span>
                                Test view
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in {% if active_tab == 'docs' or active_tab == None %}active{%endif%}}" id="tabs-1-tab-1">
                {% include "admin_preferences_documents_templates.html" %}
            </div>
            <div role="tabpanel" class="tab-pane fade in {% if active_tab == 'add' %}active{%endif%}" id="tabs-1-tab-2">
                {% include "admin_preferences_documents_upload.html" %}
            </div>
            <div role="tabpanel" class="tab-pane fade in {% if active_tab == 'test' %}active{%endif%}" id="tabs-1-tab-3">
                {% include "admin_preferences_test_view.html" %}
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}

    <script type="text/javascript">
        "use strict";

        $(document).ready(function() {

            /* ==========================================================================
             Documents templates
             ========================================================================== */
            var filterBtn = $('.files-manager-side-list a');
            var templates = $('.fm-file');
            var aside = {
                'title': $('.files-manager-aside-section .box-typical-header-sm'),
                'preveiw': $('.files-manager-aside-section .preview')
            };
            var filterClass;
            var useBtn = $('#file-use');
            var useAlreadyBtn = $('#file-already-used');


            // Use
            var canUse = function (templateSelector) {
                if (templateSelector.hasClass('used')) {
                    useBtn.addClass('hidden');
                    useAlreadyBtn.removeClass('hidden');
                } else {
                    useBtn.removeClass('hidden');
                    useAlreadyBtn.addClass('hidden');
                }
            };

            var useTemplate = function (templateSelector) {
                var classTab = $('.fm-file.' + templateSelector[0].classList[1]);
                classTab.removeClass('used');
                templateSelector.addClass('used');
                canUse(templateSelector);
            };

            useBtn.click(function (event) {
                var selectedTemplate = $(".fm-file.current");
                useTemplate(selectedTemplate);
                //console.log(selectedTemplate.data('template-name'));
                alert('TODO :\n- Sending to server\n- Modal')
            });


            //Aside
            var refreshAside = function (templateSelector) {
                aside['title'].text(templateSelector.find($('.fm-file-name')).text());
                canUse(templateSelector);
            };


            //Selection
            var selectTemplate = function (templateSelector) {
                templates.removeClass('current');
                templateSelector.addClass('current');
                refreshAside(templateSelector);
            };

            templates.click(function (event) {
                selectTemplate($(this));
            });


            //Filtering
            filterBtn.click(function (event) {
                event.preventDefault();
                filterClass = $('.' + $(this).attr('href'));

                filterBtn.removeClass('active');
                $(this).addClass('active');

                templates.addClass('hidden');
                $.each(filterClass, function(key, val){
                    $(val).removeClass('hidden');
                });
                selectTemplate($(filterClass[0]));
            });

            $(filterBtn[0]).trigger('click');

        });

    </script>

{% endblock %}
