{% extends "public_pages_root_center.html" %}
{% load staticfiles %}

{% block content %}

    <form action="{% url "ajax_password_reset" %}" method="post" class="sign-box reset-password-box">
        <header class="sign-title">Reset Password</header>
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="E-Mail or Phone"/>
        </div>
        <button type="submit" class="btn btn-rounded">Reset</button>
        or <a href="{% url "public_login" %}">Sign in</a>
    </form>

{% endblock %}