
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Erreur 500 - Consult Panel</title>

    <meta name="description"
          content="Consult Panel, c'est un outil adapté aux petits organismes de formation. Inscrivez vos clients, générez vos documents, et gagnez du temps !"/>
    <meta name="keywords"
          content="consult panel formation formateur formateurs formations coaching generation documents catalogues conventions bilan agenda"/>
    <meta name="author" content="consult panel"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <Meta name="robots" content="NOODP">

    <!-- FAVICON  -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57"
          href="{% static 'public_site/images/favicon/apple-touch-icon-57x57.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'public_site/images/favicon/apple-touch-icon-114x114.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'public_site/images/favicon/apple-touch-icon-72x72.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'public_site/images/favicon/apple-touch-icon-144x144.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
          href="{% static 'public_site/images/favicon/apple-touch-icon-60x60.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="{% static 'public_site/images/favicon/apple-touch-icon-120x120.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="{% static 'public_site/images/favicon/apple-touch-icon-76x76.png' %}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{% static 'public_site/images/favicon/apple-touch-icon-152x152.png' %}"/>
    <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-196x196.png' %}"
          sizes="196x196"/>
    <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-96x96.png' %}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-32x32.png' %}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-16x16.png' %}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-128.png' %}" sizes="128x128"/>
    <meta name="application-name" content="Consult Panel"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="{% static 'public_site/images/favicon/mstile-144x144.png' %}"/>
    <meta name="msapplication-square70x70logo" content="{% static 'public_site/images/favicon/mstile-70x70.png' %}"/>
    <meta name="msapplication-square150x150logo"
          content="{% static 'public_site/images/favicon/mstile-150x150.png' %}"/>
    <meta name="msapplication-wide310x150logo" content="{% static 'public_site/images/favicon/mstile-310x150.png' %}"/>
    <meta name="msapplication-square310x310logo"
          content="{% static 'public_site/images/favicon/mstile-310x310.png' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    <link rel="stylesheet" href="{% static 'main/css/libs.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/consult-panel.css' %}">
</head>
<body>

    <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
                <div class="page-error-box">
                    <div class="error-code">404</div>
                    <div class="error-title">Page innexistante</div>
                    <a href="{% url 'public_index' %}" class="btn btn-rounded">Page d'accueil</a>
                </div>
            </div>
        </div>
    </div><!--.page-center-->

<script src="{% static 'main/js/app.js' %}"></script>
</body>
</html>