{% extends "public_pages_root_center.html" %}
{% load staticfiles %}

{% block content %}

    <form action="{% url "public_form" name="password_forgot" %}" method="post" class="sign-box">
        <div class="sign-avatar">
            <img src="{% static 'main/img/consultpanel_logo_blue.png' %}" alt="Logo Consult Panel">
        </div>
        <header class="sign-title">Consult Panel</header>
        <div class="form-group">
            {{ password_forgot_form.username }}
        </div>
        <button type="submit" class="btn btn-rounded">Envoyer</button>
    </form>

{% endblock %}