{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="fr">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Template</title>
        
        <link href="{% static 'main/img/favicon.144x144.png' %}" rel="apple-touch-icon" type="image/png" sizes="144x144">
        <link href="{% static 'main/img/favicon.114x114.png' %}" rel="apple-touch-icon" type="image/png" sizes="114x114">
        <link href="{% static 'main/img/favicon.72x72.png' %}" rel="apple-touch-icon" type="image/png" sizes="72x72">
        <link href="{% static 'main/img/favicon.57x57.png' %}" rel="apple-touch-icon" type="image/png">
        <link href="{% static 'main/img/favicon.png' %}" rel="icon" type="image/png">
        <link href="{% static 'main/img/favicon.ico' %}" rel="shortcut icon">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <script src="{% static 'main/js/plugins.js' %}"></script>
        <script src="{% static 'main/js/app.js' %}"></script>
        <script src="{% static 'main/js/pace.min.js' %}"></script>
        
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/dataurl.css' %}">
    </head>
    <body>
        <div class="page-center" style="height: 576px;">
            <div class="page-center-in">
                <div class="container-fluid">
                    <form action="/form/login" method="post" class="sign-box">
                        {% csrf_token %}
                        <div class="sign-avatar">
                            <img src="http://lorempicsum.com/rio/200/200/1" alt="">
                        </div>
                        <header class="sign-title">Sign In</header>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags | default_if_none:'success' }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            {{login_form.username}}
                        </div>
                        <div class="form-group">
                            {{login_form.password}}
                        </div>
                        <div class="form-group">
                            <div class="checkbox float-left">
                                <input type="checkbox" id="signed-in">
                                <label for="signed-in">Rester connecté</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-rounded">Sign in</button>
                        <p class="sign-note"><a href="#">Mot de passe oublié</a></p>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'main/js/jquery-1.12.2.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-52021309-3', 'auto');
        ga('send', 'pageview');
    </script>
</html>
