{% extends "public_pages_root_center.html" %}
{% load staticfiles %}

{% block content %}

    <form action="{% url "public_form" name="password_reset" %}" method="post" class="sign-box">
        {% csrf_token %}
        <div class="sign-avatar">
            <img src="{% static 'main/img/consultpanel_logo_blue.png' %}" alt="Logo Consult Panel">
        </div>
        <header class="sign-title">Consult Panel</header>
        <div class="form-group">
            {{ password_reset_form.password }}
        </div>
        <input type="text" value="{{ username }}" name="username" style="display: None">
        <button type="submit" class="btn btn-rounded">Envoyer</button>
    </form>

{% endblock %}