<!DOCTYPE html>
<html lang="fr">
    {% load staticfiles %}
    <head>
        <meta name="google-site-verification" content="2B13C_eOqo3l7b5QZSLkd6oMOBUd8flf7RK86pR9J6E" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page_title|default:"Consult Panel" }} - Gérez vos formations, simplement.</title>
        
        <meta name="description" content="Consult Panel, c'est un outil adapté aux petits organismes de formation. Inscrivez vos clients, générez vos documents, et gagnez du temps !" />
        <meta name="keywords" content="consult panel formation formateur formateurs formations coaching generation documents catalogues conventions bilan agenda" />
        <meta name="author" content="consult panel" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <Meta name="robots" content="NOODP">
        
        <!-- FAVICON  -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'public_site/images/favicon/apple-touch-icon-57x57.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'public_site/images/favicon/apple-touch-icon-114x114.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%static 'public_site/images/favicon/apple-touch-icon-72x72.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%static 'public_site/images/favicon/apple-touch-icon-144x144.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{%static 'public_site/images/favicon/apple-touch-icon-60x60.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{%static 'public_site/images/favicon/apple-touch-icon-120x120.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{%static 'public_site/images/favicon/apple-touch-icon-76x76.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{%static 'public_site/images/favicon/apple-touch-icon-152x152.png' %}" />
        <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-196x196.png' %}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-32x32.png' %}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-16x16.png' %}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static 'public_site/images/favicon/favicon-128.png' %}" sizes="128x128" />
        <meta name="application-name" content="Consult Panel"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{% static 'public_site/images/favicon/mstile-144x144.png' %}" />
        <meta name="msapplication-square70x70logo" content="{% static 'public_site/images/favicon/mstile-70x70.png' %}" />
        <meta name="msapplication-square150x150logo" content="{% static 'public_site/images/favicon/mstile-150x150.png' %}" />
        <meta name="msapplication-wide310x150logo" content="{% static 'public_site/images/favicon/mstile-310x150.png' %}" />
        <meta name="msapplication-square310x310logo" content="{% static 'public_site/images/favicon/mstile-310x310.png' %}" />
        
        <!-- =========================
           STYLESHEETS
        ============================== -->
        
        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="{% static 'public_site/css/plugins/bootstrap.min.css' %}">
        
        <!-- FONT ICONS -->
        <link rel="stylesheet" href="{% static 'public_site/css/icons/icons.min.css' %}">
        
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">
        
        <!-- PLUGINS STYLESHEET -->
        <link rel="stylesheet" href="{% static 'public_site/css/plugins/plugins.min.css' %}">
        
        <!-- CUSTOM STYLESHEET -->
        <link rel="stylesheet" href="{% static 'public_site/css/style.css' %}">
        
        <!-- RESPONSIVE FIXES -->
        <link rel="stylesheet" href="{% static 'public_site/css/responsive.css' %}">
        
        <!-- COLORE STYLESHEET -->
        <!-- Change here the Main Color of the Site: Choose your favorite predefined color from assets/css/colors.css -->
        <link rel="stylesheet" href="{% static 'public_site/css/colors/consultpanel.css' %}" title="consultpanel">
        
        
        <!--[if lt IE 9]>
                <script src="{% static 'public_site/js/plugins/html5shiv.min.js' %}"></script>
                <script src="{% static 'public_site/js/plugins/respond.min.js' %}"></script>
        <![endif]-->
    </head>
    
    <body>
        {% block content %}{% endblock %}
    </body>
    <!-- =========================
         SCRIPTS
    ============================== -->
    <script src="{% static 'public_site/js/plugins/jquery1.11.0.min.js' %}"></script>
    <script src="{% static 'public_site/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'public_site/js/plugins/jquery.easing.1.3.min.js' %}"></script>
    <script src="{% static 'public_site/js/plugins/modernizr.custom.min.js' %}"></script>
    <script src="{% static 'public_site/js/plugins/plugins.min.js' %}"></script>
    <!-- Custom Script -->
    <script src="{% static 'public_site/js/custom.js' %}"></script>
    <script>
 
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-52021309-3', 'auto');
        ga('send', 'pageview');
    </script>
    {% block script %}{% endblock %}
</html>
