/* ==========================================================================
   Consult Panel DataTables
   ========================================================================== */

table.dataTable.cp{
  margin-top: 0px !important;
}


/* ==========================================================================
   Consult Panel Box Tables
   ========================================================================== */

.box-table{
  &.box-typical.box-typical-max-screen{

    //Search bar
    .tbl-cell.tbl-cell-title.datatable-custom-search{
      padding: 15px;
    }

    //Paginate
    .dataTables_paginate{
      padding-right: 15px;
    }



  }
}